---
layout: layouts/base.njk
---
<script type="module">
  import 'https://cdn.jsdelivr.net/gh/Seth-Harlaar/sp-components@latest/components/sp-tag.js'
</script>
<article class="post">
  <header class="post-header">
    <h1>{{ title }}</h1>
    <time datetime="{{ date | dateISO }}">{{ date | dateFormat }}</time>
    {% if tags %}
    <ul class="tags">
      {% for tag in tags %}
        {% if tag != "posts" %}
        <li><sp-tag color="primary">{{ tag }}</sp-tag></li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </header>

  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
