---
layout: layouts/base.njk
title: Home
---
<section class="hero">
  <h1>Welcome to Yet Another Personal Plog</h1>
  <p>Because we didn't have enough of them already.</p>
  <p>
    Here you will find my own personal thoughts, opinions, and statements. Sometimes they will be educated and backed up, sometimes not.
    Sometimes they will show great effort, sometimes not. Sometimes they will be complete, sometimes not.
  </p>
  <p>
    All of them will be of my own free mind.
  </p>
</section>

<section class="recent-posts">
  <h2>Recent Posts</h2>
  {% if collections.posts.length %}
  <ol class="post-list">
    {% for post in collections.posts | slice(0, 5) %}
    <li>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      <time datetime="{{ post.date | dateISO }}">{{ post.date | dateFormat }}</time>
    </li>
    {% endfor %}
  </ol>
  {% else %}
  <p>No posts yet.</p>
  {% endif %}
  <a href="{{ '/posts/' | url }}" class="btn btn-gradient recent-posts-cta">View all posts</a>
</section>
