<sp-nav sticky>
  <a slot="brand" class="nav-brand" href="{{ '/' | url }}">YAPB</a>
  <a href="{{ '/' | url }}">Home</a>
  <a href="{{ '/posts/' | url }}">Posts</a>
  <a href="{{ '/notes/' | url }}">Notes</a>
  <a href="{{ '/websites/' | url }}">Websites</a>
  <a href="{{ '/about/' | url }}">About</a>
</sp-nav>
